<app-navbar></app-navbar>
<div class="hero-section">
    <div class="energy-grid">
      <div class="grid-line" style="--i: 0"></div>
      <div class="grid-line" style="--i: 1"></div>
      <div class="grid-line" style="--i: 2"></div>
      <div class="grid-line" style="--i: 3"></div>
      <div class="grid-line" style="--i: 4"></div>
    </div>
      <form
        class="container h-100 d-flex align-items-center justify-content-center flex-column  hero-content" [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off"
      >
        <h2 class="text-center">Registro de Usuario</h2>

        <app-text-input 
          [formControl]="$any(registerForm.controls['name'])" [label]="'name'"
        ></app-text-input>

        <app-text-input 
          [formControl]="$any(registerForm.controls['email'])" [label]="'email'"
          [type]="'email'"
        ></app-text-input>

        <app-text-input 
          [formControl]="$any(registerForm.controls['password'])" [label]="'password'"
          [type]="'password'"
        ></app-text-input>

        <app-text-input 
          [formControl]="$any(registerForm.controls['city'])" [label]="'city'"
        ></app-text-input>

        <app-text-input 
          [formControl]="$any(registerForm.controls['street'])" [label]="'street'"
        ></app-text-input>

        @if(validationErrors){
          <div class="alert alert-danger text-start">
            <ul>
              @for (error of validationErrors; track $index) {
                <li>{{ error }}</li>
              }
            </ul>
          </div>
        }


        <button [disabled]="!registerForm.valid" type="submit" class="btn">Registrar</button>
      </form>
    </div>