.dashboard-container {
  display: flex;
}

.sidebar {
  width: 250px;
  position: fixed;
  height: 100vh;
}

.content {
  margin-left: 250px; /* Espacio para el sidebar */
  width: calc(100% - 250px); /* Ajusta el ancho para que no se superponga */
}
